/* 分・秒のフォントサイズ調整 */
.timeUnit {
  font-size: 1.2rem;
  vertical-align: bottom;
}
.wrapper {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  width: 100vw;
  height: 100vh;
  font-family: var(--mincho);
  color: white;
  background-color: #3b3b3b;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .title {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.5rem;
      margin: 0.2rem 0;
    }

    .selector {
      display: flex;
      gap: 2rem;
      margin-top: 10rem;
      margin-bottom: 2rem;

      .content {
        padding: 1rem 2rem;
        color: black;
        border: 1px solid white;
        border-radius: 50px;
        color: white;
        font-size: 2rem;
        transition: all 0.3s;

        /* &:hover {

        } */

        &.selected {
          color: black;
          border: 1px solid rgb(0, 0, 0);
          background-color: white;
        }
      }
    }

    .input_area {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      p {
        font-size: 1.5rem;
        margin-left: 1rem;
      }

      input {
        width: 30vw;
        height: 3vw;
        background-color: transparent;
        border-radius: 50px;
        border: 1px solid #ffffff;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        padding: 0 1rem;

        &::placeholder {
          font-family: var(--mincho);
          color: #a1a1a1;
        }
      }
    }

    .start_button {
      margin-top: 2rem;
      padding: 1rem 2rem;
      background-color: #0070f3;
      color: white;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      font-size: 1.5rem;
      transition: background-color 0.3s;

      a {
        width: 100%;
        height: 100%;
      }

      &:hover {
        background-color: #005bb5;
      }
    }
  }

  .ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding-top: 5rem;
    gap: 2rem;
    width: 20vw;

    h1 {
      font-size: 2rem;
      margin-bottom: 4rem;
    }

    .ranking_container {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 5rem;

      .person {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;

        .profile {
          display: flex;
          align-items: center;
          gap: 0.8rem;

          p {
            font-size: 1.7rem;
          }

          img {
            pointer-events: none;
            user-select: none;

            &.crown1 {
              filter: invert(87%) sepia(89%) saturate(1807%) hue-rotate(319deg) brightness(87%) contrast(80%);
            }
            &.crown2 {
              filter: invert(100%) sepia(93%) saturate(744%) hue-rotate(177deg) brightness(83%) contrast(92%);
            }
            &.crown3 {
              filter: invert(46%) sepia(44%) saturate(687%) hue-rotate(347deg) brightness(94%) contrast(90%);
            }
          }
        }

        .time {
          margin-left: 4.5rem;
          font-size: 2rem;
        }
      }
    }

  }
}